<h2>Program Committee/Conference Review</h2>
<ul>
  <li><p>Neural Information Processing Systems (<b>NeurIPS</b>), 2019, 2020</p></li>
  <li><p>International Conference on Machine Learning (<b>ICML</b>), 2020</p></li>
  <li><p>International Conference on Learning Representations (<b>ICLR</b>), 2020</p></li>
  <li><p>European Conference on Computer Vision (<b>ECCV</b>), 2020</p></li>
  <li><p>SIAM Conference on Data Mining (<b>SDM</b>), 2020</p></li>
  <li><p>British Machine Vision Conference (BMVC), 2020</p></li>
  <li>
    <p>
      European Conference on Machine Learning and Principles and Practice of Knowledge Discovery in
      Databases (<b>ECML-PKDD</b>), 2019
    </p>
  </li>
  <li>
    <p>
      IEEE/CVF International Conference on Computer Vision and Pattern Recognition (<b>CVPR</b>),
      2019
    </p>
  </li>
  <li>
    <p>
      <a href="https://ijcai19.org/" target="&ldquo;blank&rdquo;"
        >International Joint Conference on Artificial Intelligence (<b>IJCAI</b>)</a
      >, 2016, 2019
    </p>
  </li>
  <li><p>AAAI Conference on Artificial Intelligence (<b>AAAI</b>), 2019, 2020</p></li>
  <li>
    <p>IEEE/RSJ International Conference on Intelligent Robots and Systems (<b>IROS</b>), 2018</p>
  </li>
  <li><p>IEEE International Conference on Computer Vision (<b>ICCV</b>), 2017, 2019</p></li>
  <li>
    <p>
      IEEE Winter Conference on Applications of Computer Vision (<b>WACV</b>), 2011, 2012, 2013,
      2014, 2015, 2016, 2017, 2018, 2019, 2020
    </p>
  </li>
  <li><p>Asian Conference on Computer Vision (<b>ACCV</b>), 2012, 2014, 2016</p></li>
  <li>
    <p>
      Indian Conference on Computer Vision, Graphics and Image Processing (<b>ICVGIP</b>), 2014,
      2016
    </p>
  </li>
  <li>
    <p>
      Symposium on Conformal and Probabilistic Prediction with Applications (<b>COPA</b>), 2012,
      2013, 2014, 2015, 2016, 2017
      <i
        >(earlier called International Symposium on Learning and Data Sciences (SLDS) and Workshop
        on Conformal Prediction and its Applications (CPAW))</i
      >
    </p>
  </li>
  <li>
    <p>
      International Conference on Pattern Recognition Applications and Methods (<b>ICPRAM</b>),
      2012, 2013, 2014, 2015, 2016, 2017
    </p>
  </li>
  <li><p>International Conference on Artificial Neural Networks (<b>ICANN</b>), 2011</p></li>
</ul>
<h2>Organizing Committee/Senior Role</h2>
<ul>
  <li>
    <p>
      Area Chair, IEEE/CVF Winter Conference on Applications of Computer Vision (<b>WACV</b>), 2021
    </p>
  </li>
  <li>
    <p>
      Area Chair, IEEE/CVF International Conference on Computer Vision and Pattern Recognition
      (<b>CVPR</b>), 2020
    </p>
  </li>
  <li>
    <p>Senior Program Committee, AAAI Conference on Artificial Intelligence (<b>AAAI</b>), 2020</p>
  </li>
  <li>
    <p>
      Senior Program Committee, International Joint Conference on Artificial Intelligence
      (<b>IJCAI</b>), 2018, 2020
    </p>
  </li>
  <li><p>Journal Track Co-Chair, Asian Conference on Machine Learning (ACML), 2020</p></li>
  <li>
    <p>
      Tutorials Co-Chair, International Conference on Signal Processing and Communications (<a
        href="https://ece.iisc.ac.in/~spcom/2020/"
        target="&ldquo;blank&rdquo;"
        >SPCOM</a
      >), 2020
    </p>
  </li>
  <li>
    <p>
      Tutorials Co-Chair, National Conference on Computer Vision, Pattern Recognition, Image
      Processing and Graphics (NCVPRIPG), Dec 2019
    </p>
  </li>
  <li>
    <p>
      Program Chair, Indian Conference on Computer Vision, Graphics and Image Processing
      (<b>ICVGIP</b>), Dec 2018
    </p>
  </li>
  <li>
    <p>
      Program Chair,
      <a href="https://kcis.iiit.ac.in/AI_Workshop/" target="&ldquo;blank&rdquo;"
        >Workshop on AI and its Impact on Society in Developing Nations</a
      >
      (<b>AAAI event</b>), Dec 2018
    </p>
  </li>
  <li>
    <p>
      Area Chair,
      <a href="http://accv2018.net/" target="&ldquo;blank&rdquo;"
        >Asian Conference on Computer Vision (<b>ACCV</b>)</a
      >, Nov 2018
    </p>
  </li>
  <li>
    <p>
      Program Chair, International Conference on Advanced Computing and Communications (ADCOM), Sep
      2018
    </p>
  </li>
  <li>
    <p>
      Technical Program Co-Chair,
      <a href="http://www.iith.ac.in/~ncc2018/" target="&ldquo;blank&rdquo;"
        >National Conference on Communication (<b>NCC</b>)</a
      >, Feb 2018
    </p>
  </li>
  <li>
    <p>
      Organizing Committee, <b>Summer/Winter School on Deep learning</b>, IIIT-H,
      <a href="http://cvit.iiit.ac.in/summerschool/" target="&ldquo;blank&rdquo;">Jul 2016</a>, Dec
      2016,
      <a href="http://cvit.iiit.ac.in/mlsummerschool2017/index.html" target="&ldquo;blank&rdquo;"
        >Jul 2017</a
      >
    </p>
  </li>
  <li>
    <p>
      Technical Co-Chair, Cognitive Computing Track,
      <a href="http://icare2016.mybluemix.net/" target="&ldquo;blank&rdquo;"
        >IBM Collaborative Academia Research Exchange (<b>IBM-ICARE</b>)</a
      >, Oct 2016
    </p>
  </li>
  <li>
    <p>
      Area Chair,
      <a href="http://www.iitg.ernet.in/icvgip2016/index.php" target="&ldquo;blank&rdquo;"
        >Indian Conference on Computer Vision, Graphics and Image Processing (<b>ICVGIP</b>)</a
      >, Dec 2016
    </p>
  </li>
  <li>
    <p>
      Organizing Co-Chair,
      <a href="http://cvit.iiit.ac.in/assistivevision-accv16/" target="&ldquo;blank&rdquo;"
        >Workshop on Assistive Vision, Asian Conference on Computer Vision (<b>ACCV</b>)</a
      >, Nov 2016
    </p>
  </li>
  <li>
    <p>
      Organizer,
      <a
        href="http://www.iith.ac.in/~vineethnb/indoukworkshop2015/index.html"
        target="&ldquo;blank&rdquo;"
        >DST-EPSRC <b>Indo-UK Workshop</b> on Conformal Prediction and Applications</a
      >, Dec 2015
    </p>
  </li>
  <li>
    <p>Local Arrangements Co-chair, ACM Multimedia (<b>ACM MM</b>), 2011</p>
  </li>
  <li>
    <p>
      Co-chair, Special Session on Machine Learning for Human Behavior Understanding and Assisted
      Living, 10th International Conference on Machine Learning and Applications (<b>ICMLA</b>),
      2011
    </p>
  </li>
  <li>
    <p>
      Demos Co-chair, IEEE International Workshop on Haptic Audio Video Environments and Games
      (<b>HAVE</b>), 2010
    </p>
  </li>
</ul>
<h2>Journal Review</h2>
<ul>
  <li>
    <p>
      IEEE Transactions on Pattern Analysis and Machine Intelligence, Journal of Machine Learning
      Research, IEEE Transactions on Neural Networks and Learning Systems, International Journal of
      Computer Vision, IEEE Transactions on Knowledge and Data Engineering, Pattern Recognition,
      IEEE Transactions on Fuzzy Systems, IEEE Transactions on Multimedia, IEEE Signal Processing
      Letters, Pattern Recognition Letters, Computer Vision and Image Understanding, Entropy,
      International Journal of Pattern Recognition and Artificial Intelligence, Journal of Visual
      Communication and Image Representation, The Visual Computer, SADHANA (Indian Academy of
      Sciences)
    </p>
  </li>
</ul>
<h2>Other</h2>
<ul>
  <li>
    <p>Secretary, <b>AAAI India Chapter</b>, 2017-present</p>
  </li>
  <li>
    <p>Special Awards Judge, <b>Intel International Science and Engineering Fair</b>, 2013</p>
  </li>
  <li>
    <p>CISE Panelist, <b>US National Science Foundation</b>, 2012</p>
  </li>
  <li>
    <p>
      Reviewer, <b>Nanyang Technological University MOE Academic Research Fund (AcRF)</b>,
      Singapore, 2012
    </p>
  </li>
  <li>
    <p>
      Reviewer, Office of Knowledge Enterprise Development, <b>Arizona State University</b>, 2012
    </p>
  </li>
  <li>
    <p>Reviewer, <b>Natural Sciences and Engineering Research Council (NSERC)</b>, Canada, 2012</p>
  </li>
</ul>
<h2>Institution-Building (Selected)</h2>
<ul>
  <li><p>Head, Department of Artificial Intelligence, 2019-present</p></li>
  <li><p>Member, IIT-H Academic Senate, 2018-present</p></li>
  <li><p>Department Faculty Search Committee (CSE), 2020-present</p></li>
  <li><p>Department Post Graduate Committee (CSE), 2018-present</p></li>
  <li><p>NSM Benchmark Evaluation committee, IIT-H, 2017-18</p></li>
  <li><p>Computer Center Coordination Committee, IIT-Bhilai, 2016-2018</p></li>
  <li><p>M.Tech Admissions Committee, Computer Science and Engg, IIT-H, 2015-2018</p></li>
  <li>
    <p>
      Committee Member, <b>i.school</b> Program (collaboration with Univ of Tokyo), IIT-Hyderabad,
      2014-17
    </p>
  </li>
</ul>
<h2>Professional Membership</h2>
<ul>
  <li><p>Senior Member: IEEE</p></li>
  <li><p>Member: ACM, AAAI</p></li>
</ul>
