---
layout: default
---

<h1 class="page-header">
  Resources
</h1>

<ul
  id="profileTabs"
  style="padding: 0 10px; margin-bottom: 50px;"
  class="nav nav-pills nav-justified"
>
  <li class="active"><a href="#datasets" data-toggle="tab">Datasets</a></li>
  <li><a href="#code" data-toggle="tab">Code (selected)</a></li>
  <li><a href="#patents" data-toggle="tab">Patents</a></li>
  <li><a href="#books" data-toggle="tab">Books</a></li>
  <li><a href="#media" data-toggle="tab">Media Coverage</a></li>
  <li><a href="#service" data-toggle="tab">Service</a></li>
  <li><a href="#awards" data-toggle="tab">Awards</a></li>

</ul>
<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="datasets">
    <div class="col-sm-12">
      {% include resources/datasets.html %}
    </div>
  </div>

  <!-- {% assign undergrad = site.data.alumni.undergrad %} -->
  <div role="tabpanel" style="padding: 0 10px;" class="tab-pane" id="code">
    {{ content }}
  </div>

  <div role="tabpanel" class="tab-pane" id="patents">
    <div class="col-sm-12">
      {% include resources/patents.html %}
    </div>
  </div>

  <div role="tabpanel" class="tab-pane" id="books">
    <div class="col-sm-12">
      {% include resources/books.html %}
    </div>
  </div>

  <div role="tabpanel" class="tab-pane" id="media">
    <div class="col-sm-12">
      {% include resources/media.html %}
    </div>
  </div>

  <div role="tabpanel" class="tab-pane" id="service">
    <div class="col-sm-12">
      {% include resources/service.html %}
    </div>
  </div>

  <div role="tabpanel" class="tab-pane" id="awards">
    <div class="col-sm-12">
      {% include resources/awards.html %}
    </div>
  </div>
</div>
